<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xufilebox.common.mybatis.mapper.FileMapper">
    <select id="findUserIdByFileId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select `owner` from f_file where file_id = #{fileId};
    </select>
</mapper>
