<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xufilebox.common.mybatis.mapper.ShareMapper">
    <resultMap id="fileInfoMap" type="top.xufilebox.common.dto.FileInfoDTO">
        <id property="fileId" column="file_id" />
        <result property="fileName" column="file_name" />
        <result property="from" column="from" />
        <result property="size" column="size" />
        <result property="hash" column="hash" />
        <result property="blockNumber" column="block_number" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <resultMap id="shareInfoMap" type="top.xufilebox.common.dto.ShareInfoDTO$ShareInfoItem">
        <result property="disable" column="disable" />
        <result property="shareDate" column="create_time" />
        <result property="fileNum" column="file_num" />
        <result property="term" column="effective_time" />
        <result property="shareUrl" column="share_url" />
    </resultMap>
    <insert id="insertList" parameterType="java.util.List">
        INSERT INTO `filebox`.`f_share`(`from_user_name`, `file_id`, `hash`, `share_url`, `disable`, `effective_time`, `update_time`, `create_time`, `create_by`, `update_by`)
        VALUES
        <foreach collection="list" item="share" separator=",">
            (#{share.fromUserName},#{share.fileId},#{share.hash},#{share.shareUrl},#{share.disable},#{share.effectiveTime},#{share.updateTime},#{share.createTime},#{share.createBy},#{share.updateBy})
        </foreach>
    </insert>

    <select id="selectShareFileList" parameterType="java.util.List" resultMap="fileInfoMap">
        select `file_id`,`file_name`,`from`,`size`,`hash`,`block_number`,`update_time`,`create_time`, "0" as `is_dir`
        from f_file f
        where  f.file_id
        in
        <foreach collection="list" item="fileId" open="(" close=")" separator=",">
            #{fileId}
        </foreach>
    </select>

    <insert id="transferSave" parameterType="java.util.List">
        insert into f_file(file_name, `size`, `hash`, block_number, `delete`, `status`,
                           update_time, create_time, create_by, update_by, `owner`, `from`, parent_dir_id)
                select file_name, `size`, `hash`, block_number, `delete`, `status`,
                now(), now(), #{dto.userId},
                        #{dto.userId}, #{dto.userId},
                        #{dto.from}, #{dto.parentDirId}
                from f_file where file_id in
                <foreach collection="list" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
    </insert>

    <select id="getSharInfo" parameterType="java.lang.Integer" resultMap="shareInfoMap">
        select share_url, create_time, effective_time, `disable`, count(*) as file_num
        from f_share
        where create_by = #{userId}
        group by share_url;
    </select>

    <update id="disableShareUrl" parameterType="java.lang.String">
        update f_share set `disable` = 1 where share_url = #{shareUrl}
    </update>

    <update id="enableShareUrl" parameterType="java.lang.String">
        update f_share set `disable` = 0 where share_url = #{shareUrl}
    </update>
</mapper>
