<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.xufilebox.common.mybatis.mapper.UserRoleMapper">
    <insert id="createDefaultUserRole" parameterType="top.xufilebox.common.mybatis.entity.UserRole">
        insert into u_user_role(user_id, role_id, update_time, create_time, update_by, create_by)
        VALUES(#{userId}, (select role_id from u_role where role_name='user'), #{updateTime}, #{createTime}, #{updateBy}, #{createBy});
    </insert>
</mapper>
